<%- include('components/head')%>
    <main>
        <h1>Kies je website</h1>
        <div>
            <% site.forEach(item => { %>
                <a href="/site/<%= item.id %>"><%= item.title %></a>
            <% }); %>
        </div>
    </main>
</body>
</html>