<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FutureReadyDesign</title>
</head>
<body>
    <section class="contianer">
        <h1>Title</h1>
        <section>
            <!-- automatisch scan resultaat met chart -->
        </section>
        <article>
            <!-- Alle soorten errors -->
        </article>
    </section>
    
</body>
</html>

