:root {
    --background-color-body:#F0F0F0;
    --background-color-article:#FFFFFF;
    --text-color-title: #5D666A;
}

body {
    background-color: var(--background-color-body);
    font-family: "Outfit", sans-serif;
    display: flex;
    justify-content: center;

}
header {
    display: flex;
}

.allScans {
    display: flex;
    width: 72rem;
    overflow:hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    margin-left:1rem;
}


.auto-scan {
    display: flex;
    background-color: var(--background-color-article);
    border-radius: 0.5rem;
    width: 865px;
    height: 306px;
    flex: 0 0 auto; 
    scroll-snap-align: start;
     box-sizing: border-box;
    padding:20px;
   
}
.scan-details {
    max-width: 400px;
}

/* doughnnut chart */
.doughnut-chart {
    width: 10rem;
    height: 10rem;
    display:flex;
    position:relative;
   
}

.autoScan-score {
    position: absolute;
    z-index:10;
    font-size:30px;
}

.outer {
    width: 8rem;
    height: 8rem;
    padding: 1.5rem;
     display: flex;
       align-items: center;
    justify-content: center;
    border:1px solid #cbd6e8 ;
    border-radius: 50%;
    background: conic-gradient(#4285f4 1.5deg, #fff 0deg);
}


.outer::before {
    content: "";
     width:8rem ;
    height: 8rem; 
    background:#cbd6e8 ;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}


.autoScsan-score {
    font-weight: 600;


}
.title.scan { 
    white-space: nowrap;
    color: var(--text-color-title);
 
}
.scan-details {
    flex-direction: column;
    
}

.allErrors {
    max-width: 25rem;
    display:flex;
    flex-wrap:wrap; 
 
}

.single-error {
    padding: 2rem;
    margin: 0 20px 20px;
    display:flex;
    align-items:center;
    border-radius:0.5rem;
    background-color: var(--background-color-article);
}
.icon-img-error-type {
    margin-left:1rem;
}